#contact {
   background-image: linear-gradient(to right , cyan , blue);
    height: 100vh;
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.cont-container{
    
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
}
.cont-box{
    margin-top: 130px;
    width: 40%;
    background-image: linear-gradient(to right,blue,cyan);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px white;
    
}
.cont-left{
    
   
   
}
.cont-left img{
    margin-top: 90px;
    margin-left: 90px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.cont-left h2{
    margin-top: 80px;
    margin-left: 60px;
    padding: auto;
    text-align: left;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}
.cont-left p{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.cont-left p span{
    color: springgreen;
    font-size: 24px;
}
.cont-right{
   background-color: white;
   width: 40%;
}
.cont-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 120px;
    

}
.cont-right form input{
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: .25s ease;
    border-radius: 8px;

    box-shadow: inset 2px 2px 3px 2px rgb(202, 201, 201);
    transition: 0.5s all ease-in-out;
}
.cont-right form input:hover{
    width: 355px;
    height: 45px;
}
.cont-right form label{
    margin-left: 8px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.cont-right form textarea{
    margin-left: 4px;
    resize: none;
    outline: none;
    box-shadow: inset 2px 2px 3px 2px rgb(202, 201, 201);
    border: none;
    border-radius: 8px;
}
.cont-right button{
    margin-top: 40px;
    margin-left: 40%;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, rgb(68, 0, 255),rgb(0, 81, 255));
    color: white;
    transition: 1s all ease-in-out;
}
.cont-right button:hover{
width: 110px;
height: 45px;
background-image: linear-gradient(to right, rgb(0, 81, 255),rgb(68, 0, 255));
transform: translateY(10px);
}