.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
    width: 80%;
    margin-top: 20vh;
    margin-left: 10%;
    
}
.left{
    background-color: azure;
    width: calc(100% / 2);
}
.left h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 100px;
padding: auto;
}
.sigin-via{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 120px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(50% / 2);
margin-left: 100px;
}
.left input{

    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;

    box-shadow: inset 2px 2px 3px 2px rgb(202, 201, 201);
}
.signin-btn button{
    margin-left: 198px;
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(31, 96, 235);
    border-radius: 30px;
    width: 150px;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}
.forgot a{
    text-decoration: none;
    text-align: center;
    margin-left: 200px;
    color: deepskyblue;

}
.right{
    background-color: rgb(31, 96, 235);
    width: calc(100% / 2);
}
.right h1{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right p{
    text-align: center;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 40%;
    margin: auto;
    color: white;
}
.right button{
    
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(31, 96, 235);
    border-radius: 30px;
    width: 150px;
    border: 1px solid white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin: auto;
    margin-top: 40px;
}
.right button a{
    text-decoration: none;
    color: white;
    
}