#whyus{
    background-color: white;
    height: 100vh;
    width: 100%;

}
.box-height{
    height: calc(100vh / 2);
}
.container-why{
    display: flex;
    flex-direction: row;
}
.left-why{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100% / 3.5);
}
.left-top{
    background-color:  rgb(10, 148, 102);
    color: white;
}
.left-top i{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    
}
.left-top h1{
    font-size: xx-large;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 50%;
    text-align: left;
}
.left-top p{
    width: 60%;
    text-align: left;
    margin-left: 30px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 25px;
}
.left-down{
    background-color: white;
}
.left-down i{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.left-down h1{
    font-size: xx-large;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 50%;
    text-align: left;
}
.left-down p{
    width: 60%;
    text-align: left;
    margin-left: 30px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 25px;
}
.center-why img{
   padding: 0;
   margin: 0;
    height: 100vh;
    width: 580px;
}
.right-why{
    display: flex;
    flex-direction: column;
width: calc(100% / 3);
}

.right-top h1{
    font-size: xx-large;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;

}
.right-top span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
.right-top p{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 22px;
    text-align: right;
    font-size: 20px;

}
.right-top{
    background-color: white;
    height: 50vh;
}
.right-down{
    display: flex;
    flex-direction: row;

}
.ri-tp-left{
    background-color: rgb(10, 148, 102);
}
.ri-tp-left i{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.ri-tp-left h1{
    font-size: xx-large;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 50%;
    text-align: left;
}
.ri-tp-left p{
    width: 60%;
    text-align: left;
    margin-left: 30px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 25px;
}
.ri-tp-right{
    background-color: black;
    color: white;
}
.ri-tp-right i{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.ri-tp-right h1{
    font-size: xx-large;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 50%;
    text-align: left;
}
.ri-tp-right p{
    width: 60%;
    text-align: left;
    margin-left: 30px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 25px;
}
